body{
    background-color: #333399;
}

header{
    text-align: center;
    color: white;
    font-size: 200%;
}

main{
    align-items: center;
    display: flex;
    justify-content: center;
}

form, .process{
    border-radius: 25px;
    background-color: white;
    padding: 30px;
    width: 260px;
    height: 550px;
    text-align: left;
}