body{
    background-color: white;
}

.DeptName{
    background-color: #000080;
    color: white;
    font-size: 300%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    margin: 0px;
}

.DeptDescription{
    padding-left: 20px;
    font-size: 120%;
}

#Title{
    padding-left: 20px;
    font-size: 200%; 
    margin-top: 0px;
}

.DegreeProgs{
    display: flex;
    padding-left: 0px;
    font-size: 120%;
}

.MinorProgs{
    padding-left: 20px;
}